.home {
  outline: none;
  display: inline-flex;
}

.command,
.logo {
  display: inline-flex;
  padding: 10px;
  margin: -10px;
  border-radius: var(--radius);
}

.command:hover,
.command:focus,
.logo:hover,
.logo:focus-within {
  outline: none;
  background: var(--lighter-gray);
}

.command {
  cursor: pointer;
  background: none;
}

.nav {
  z-index: 10;
  margin: var(--small-gap) auto var(--big-gap) auto;
  position: sticky;
  padding: var(--gap) 0;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--header-bg);
}

.header {
  height: 32px;
  margin: 0 auto;
  padding: 0 var(--gap);
  max-width: var(--main-content);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  overflow: auto;
  color: var(--gray-alpha);
  font-weight: 500;
  margin-left: -20px; /* icon size diff */
}

.hint {
  width: 100%;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hint kbd {
  color: var(--fg);
}

@media (max-width: 960px) {
  .nav {
    margin: var(--gap-double) 0;
  }
}
